---
// Skeleton loading card component
import styles from "./SkeletonCard.module.css";
---

<div class={styles.skeletonCard} aria-hidden="true">
  <div class={styles.inner}>
    <div class={styles.icon}></div>
    <div class={styles.content}>
      <div class={styles.title}></div>
      <div class={styles.body}></div>
      <div class={styles.cta}></div>
    </div>
  </div>
</div>
